<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FocoUnlocked.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8862866D1CF693B9007D8C94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>886286811CF693BA007D8C94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8862868C1CF693BA007D8C94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
